# runtime
--extra-index-url https://download.pytorch.org/whl/cu126

requests
python-dotenv
openai
langchain-core
langchain-text-splitters
torch
sentence-transformers
pymilvus

# docs
mkdocs
mkdocs-material

# testing
pytest
pytest-cov

# dev tools
black
flake8
